<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	
	<property name="hibernate.connection.url">
		jdbc:mysql://localhost:3306/takeout
	</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQLInnoDBDialect
	</property>
<!-- 	<property name="hibernate.cache.use_second_level_cache">true</property>
	<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property> -->
	<property name="hibernate.show_sql">yes</property>
	<property name="hibernate.hbm2ddl.auto">update</property>
	<mapping resource="com/takeout/domain/Activity.hbm.xml" />
	<mapping resource="com/takeout/domain/Announcement.hbm.xml" />
	<mapping resource="com/takeout/domain/City.hbm.xml" />
	<mapping resource="com/takeout/domain/Customer.hbm.xml" />
	<mapping resource="com/takeout/domain/Dish.hbm.xml" />
	<mapping resource="com/takeout/domain/DishComment.hbm.xml" />
	<mapping resource="com/takeout/domain/DishImg.hbm.xml" />
	<mapping resource="com/takeout/domain/Orders.hbm.xml" />
	<mapping resource="com/takeout/domain/Orderitem.hbm.xml" />
	<mapping resource="com/takeout/domain/Region.hbm.xml" />
	<mapping resource="com/takeout/domain/Section.hbm.xml" />
	<mapping resource="com/takeout/domain/Seller.hbm.xml" />
	<mapping resource="com/takeout/domain/Shop.hbm.xml" />
	<mapping resource="com/takeout/domain/Shopcomment.hbm.xml" />
	<mapping resource="com/takeout/domain/Shopimg.hbm.xml" />
	<mapping resource="com/takeout/domain/Street.hbm.xml" />
	
</session-factory>
</hibernate-configuration>
